.container {
	position: absolute;
	width: 90%;
	left: 5%;
	height: 90%;
	background: #C7DDEF;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	min-width: 1300px;
}

.list {
	width: 50%;
	display: inline-block;
	margin: 50px;
	height: 500px;
	overflow-y:auto;
	min-width: 450px;
}

.table {
	
}

tr {
	cursor: pointer;
	padding: 0;
	text-align: center;
}
th{
	text-align: center;
}
